<div>
    <h1>Usuario</h1>
    <form action="/auth/signup" method="POST">
        <p>
            Usuario:<input type="text" name="username">
        </p>
        <p>
            Contraseña:<input type="password" name="password">
        </p>
        <input type="submit" value="Crear">
    </form>
</div>